@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
</hgroup>
<div class="banner-w3pvt-info second">
    <div class="overlay-w3ls second">
        <p class="col-lg-12 headerText" style="text-align:center">@ViewBag.Title</p>
    </div>
</div>
<div>
    <p>
        Please check your email to reset your password.
    </p>
    <p class="text-danger">
        For DEMO only: You can click this link to reset password: <a href="@ViewBag.Link">link</a>
        Please change this code to register an email service in IdentityConfig to send an email.
    </p>
</div>

