
@{
    ViewBag.Title = "Enrolled Lessons";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../Content/images/bg_1.jpg')">
    @* class="site-section ftco-subscribe-1" *@
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">@ViewBag.Title</h2>
                <p>Learning Management System | Make A Difference!</p>
            </div>
        </div>
    </div>
</div>

<div style="text-align:center">

    <p>You have successfully enrolled in this course, please watch the video or read the PDF in order to complete this course.</p>

</div>

