.indexSlider {
    border: 2px solid black;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: 300px 100px;
    /*width: 400px;*/
    height: 200px;
    background: url(../../Content/images/backgroundimage2.jpg);
}

.sliderHeader {
    color: white;
}