.headerText {
    font-size: 60px;
    padding-top: 1.5em;
    color: orange;
}

/*.lessonVideos {
    position: absolute;
    top: 590px;
    right: 350px;
    height: 300px;
    width: 600px;
}*/
.lessonVideos {
    position: relative;
    top: -290px;
    right: -400px;
    height: 300px;
    width: 600px;
}

.contactButtons {
}
li {
    display: block;
    transition-duration: 0.5s;
}

    li:hover {
        cursor: pointer;
    }

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

    ul li:hover > ul,
    ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }


.yearlyCompletedCourses {
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#ffa84c+30,ff7b0d+59 */
    background: #ffa84c; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover, #ffa84c 30%, #ff7b0d 59%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, #ffa84c 30%,#ff7b0d 59%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, #ffa84c 30%,#ff7b0d 59%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

.lessonIndex {
    color: darkmagenta;
    font-family: Cambria;
    font-weight: bolder;
    text-shadow: 2em;
}
