.indexSlider {
    border: 2px solid black;
    padding: 25px;
    background-repeat: no-repeat;
    background-size: 500px 100px;
    /*width: 400px;*/
    height: 400px;
    background: url(../../Content/images/backgroundimage2.jpg);
}

.sliderHeader {
    color: white;
}

.lessonVideos {
    margin: auto;
    width: 30%;
    border: 9px solid green;
    padding: 10px;
    text-align:center;
}

.lessonPDF {

}