.headerText {
    font-size: 60px;
    padding-top: 1.5em;
    color: orange;
}

/*.lessonVideos {
    position: absolute;
    top: 590px;
    right: 350px;
    height: 300px;
    width: 600px;
}*/
.lessonVideos {
    position: relative;
    top: -290px;
    right: -400px;
    height: 300px;
    width: 600px;
}

.contactButtons {
}
li {
    display: block;
    transition-duration: 0.5s;
}

    li:hover {
        cursor: pointer;
    }

ul li ul {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 1rem;
    left: 0;
    display: none;
}

    ul li:hover > ul,
    ul li ul:hover {
        visibility: visible;
        opacity: 1;
        display: block;
    }

    ul li ul li {
        clear: both;
        width: 100%;
    }


/***********************Progress Bar***************************/
.meter {
    height: 20px; /* Can be anything */
    position: relative;
    background: #555; /*background is grey, make the progress bar orange as courses are completed*/
    -moz-border-radius: 25px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    padding: 10px;
    box-shadow: inset 0 -1px 1px rgba(255,255,255,0.3);
}


    .meter > span:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-image: linear-gradient( -45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent );
        z-index: 1;
        background-size: 50px 50px;
        animation: move 2s linear infinite;
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;
    }


    /***Different Progress Bar**/
.progress {
    position: relative;
    width: 400px;
    border: 1px solid #ddd;
    padding: 1px;
}

.progress-bar {
    width: 0px;
    height: 20px;
    background-color: #57be65;
}
 