@{
    ViewBag.Title = "About";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../Content/images/bg_1.jpg')">
    @* class="site-section ftco-subscribe-1" *@
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">@ViewBag.Title</h2>
                <p>Learning Management System | Make A Difference!</p>
            </div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-lg-6 mb-lg-0 mb-4">
                <img src="~/Content/images/course_4.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-5 ml-auto align-self-center">
                <h2 class="section-title-underline mb-5">
                    <span>Why LMS?</span>
                </h2>
                <p>Self development gives your life purpose and meaning.</p>
                <p>It's important because it helps you stay focused on your life goals, and makes you feel alive and keeps you motivated.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 order-1 order-lg-2 mb-4 mb-lg-0">
                <img src="~/Content/images/course_5.jpg" alt="Image" class="img-fluid">
            </div>
            <div class="col-lg-5 mr-auto align-self-center order-2 order-lg-1">
                <h2 class="section-title-underline mb-5">
                    <span>Set Goals</span>
                </h2>
                <p>Setting goals gives you long-term vision and short-term motivation.</p>
                <p>It focuses your acquisition of knowledge, and helps you to organize your time and your resources so that you can make the most of your life.</p>
            </div>
        </div>
    </div>
</div>
