@{
    ViewBag.Title = "About Us";
}
<!-- banner-bottom -->
<div class="banner-w3pvt-info second">
    <div class="overlay-w3ls second">
        <p class="col-lg-12 headerText" style="text-align:center">@ViewBag.Title</p>
    </div>
</div>
<section class="about py-5" id="about">
    <div class="container py-md-5">
        <div class="row about-w3pvt-top mt-2">
            <div class="col-lg-6 about-info">
                <h4 class="title-w3ls mb-5">Making a brighter future for everyone.</h4>
                <p>Do you like learning? If so we got you covered, we do require that you complete 6 courses in a year's time. If this is something you can do please go to our contact page and tell us more about it. Thanks!</p>
            </div>
            <div class="col-lg-6 about-img">
                <img src="~/Content/images/img2.jpg" class="img-fluid" alt="">
            </div>

        </div>
    </div>
</section>
<!-- //banner-bottom-->
<!-- services -->
<section class="services py-5" id="service">
    <div class="container py-md-5">
        <div class="row service_lavitop mt-2">
            <div class="col-lg-4 ser-img mt-3">
                <img src="~/Content/images/img3.jpg" class="img-fluid" alt="">
            </div>
            <div class="col-lg-8 ser-lt pl-lg-5">
                <h4 class="title-w3ls mb-5">More Insight.</h4>
                <div class="row ser-sec-1 mt-1">
                    <div class="col-lg-6 ser-w3ls-gd p-lg-0">
                        <div class="d-flex services-box one">
                            <div class="icon">
                                <span class="fa fa-lightbulb-o"></span>
                            </div>
                            <!-- .Icon ends here -->
                            <div class="service-content">
                                <h5>Idea</h5>
                                <p class="serp">
                                    Have great ideas? Share them with your team, and get full credit.
                                </p>
                            </div>
                            <!-- .Service-content ends here -->
                        </div>
                        <!-- .Services-box ends here -->
                    </div>
                    <div class="col-lg-6 ser-w3ls-gd p-lg-0">
                        <div class="d-flex services-box two">
                            <div class="icon">
                                <span class="fa fa-laptop"></span>
                            </div>
                            <!-- .Icon ends here -->
                            <div class="service-content">
                                <h5>Need a Laptop</h5>
                                <p class="serp">
                                    No problem we'll provide a company laptop.
                                </p>
                            </div>
                            <!-- .Service-content ends here -->
                        </div>
                        <!-- .Services-box ends here -->
                    </div>
                </div>
                <div class="row ser-sec-2">
                    <div class="col-lg-6 ser-w3ls-gd p-lg-0">
                        <div class="d-flex services-box three">
                            <div class="icon">
                                <span class="fa fa-diamond"></span>
                            </div>
                            <!-- .Icon ends here -->
                            <div class="service-content">
                                <h5>Satisfaction</h5>
                                <p class="serp">
                                    Employees come first!
                                </p>
                            </div>
                            <!-- .Service-content ends here -->
                        </div>
                        <!-- .Services-box ends here -->
                    </div>
                    <div class="col-lg-6 ser-w3ls-gd p-lg-0">
                        <div class="d-flex services-box four">
                            <div class="icon">
                                <span class="fa fa-shield"></span>
                            </div>
                            <!-- .Icon ends here -->
                            <div class="service-content">
                                <h5>Shield</h5>
                                <p class="serp">
                                   Guarding our employees to the fullest, no one left behind.
                                </p>
                            </div>
                            <!-- .Service-content ends here -->
                        </div>
                        <!-- .Services-box ends here -->
                    </div>
                </div>

            </div>

        </div>
        <!-- .Row ends here -->
        <!-- .Container ends here -->
    </div>
    <!-- .Services ends here -->
</section>
<!-- //services -->
<!--/tabs-->
<section class="middile-sec py-5" id="tabs">
    <div class="container py-md-5">
        <div class="middile-inner-con">
            <div class="tab-main mx-auto">

                <input id="tab1" type="radio" name="tabs" checked>
                <label for="tab1">Teamwork</label>

                <input id="tab2" type="radio" name="tabs">
                <label for="tab2">Customer Satisfaction</label>

                <input id="tab3" type="radio" name="tabs">
                <label for="tab3">Technical Skills</label>

                <section id="content1">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="~/Content/images/img5.jpg" class="img-fluid" alt="mobile-image">
                        </div>
                        <div class="col-lg-6  p-3">
                            <p>While a degree of friendly competition among staff members can be healthy, a business profits most when everyone is working together smoothly as a team. Emphasizing the value of teamwork and encouraging your staff to collaborate as they focus on a common team goal helps maximize their effectiveness</p>
                        </div>
                    </div>
                </section>

                <section id="content2">
                    <div class="row">
                        <div class="col-lg-6  p-3">
                            <p>Treat every customer as if they were a VIP. Give every customer the same excellent treatment as you would like to receive yourself.</p>
                        </div>
                        <div class="col-lg-6">
                            <img src="~/Content/images/img2.jpg" class="img-fluid" alt="mobile-image">
                        </div>

                    </div>
                </section>

                <section id="content3">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="~/Content/images/img5.jpg" class="img-fluid" alt="mobile-image">
                        </div>
                        <div class="col-lg-6 p-3">
                            <p>We are practical, and often relate to mechanical, information technology, mathematical, or scientific tasks. Some examples include knowledge of programming languages, mechanical equipment, or tools.</p>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
<!--/tabs-->
<!-- /skills -->
<section class="skills-w3pvt py-5" id="skills">
    <div class="container py-md-5">
        <div class="row">
            <div class="col-lg-6 progress-content text-left">
                <div class="py-lg-3 px-lg-5 p-md-5 p-3">
                    <div class="progress-w3ls mt-5">
                        <div class="progress-one">
                            <h4 class="progress-wthree">Good Customer Service</h4>

                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>

                        <div class="progress-one">
                            <h4 class="progress-wthree">Motivator</h4>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 100%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one">
                            <h4 class="progress-wthree">Technical Skills</h4>

                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" style="width: 100%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                        <div class="progress-one">
                            <h4 class="progress-wthree">Customer Satisfaction</h4>

                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 progress-content-img">
                <h3 class="title-w3ls mb-3">Company Traits</h3>
                <img src="~/Content/images/img4.jpg" alt="" class="img-fluid image1">
                <p class="mt-3"> Working together as a team, to make lives of others more powerful and successful.</p>
            </div>


        </div>
    </div>
</section>
<!-- /skills -->
<!--/buttons -->
<section class="banner-bottom py-5">
    <div class="container py-md-5">
        <h3 class="title-w3ls mb-5 text-center">Want to learn more?</h3>
        <div class="d-flex mt-5 justify-content-center">
            <a href="http://devmeister.net" class="btn button-style  mr-3" target="_blank">Personal Website</a>
            <a href="@Url.Action("Contact", "Home")" class="btn button-style">Contact Me</a>
        </div>
    </div>
</section>
<!--//buttons -->
<script>
        addEventListener("load", function () {
            setTimeout(hideURLbar, 0);
        }, false);

        function hideURLbar() {
            window.scrollTo(0, 1);
        }

</script>