@model JobBoardLMS.UI.MVC.Models.ContactViewModel
@{
    ViewBag.Title = "Email Confirmation";
}
<div class="banner-w3pvt-info second">
    <div class="overlay-w3ls second">
        <p class="col-lg-12 headerText" style="text-align:center">@ViewBag.Title</p>
    </div>
</div>
<div class="emailConfirmation">
    <h4 class="emailConfirmation">We have received your message:</h4>
    <p><b>"@Model.Message"</b></p>
    <p class="emailConfirmation"><br /><b>We will respond as soon as we can to @Model.Email . </b><br /><b>Thank you for contacting us.</b></p>
</div>
