@model JobBoardLMS.UI.MVC.Models.ContactViewModel
@{
    ViewBag.Title = "Email Confirmation";
}
<div class="site-section ftco-subscribe-1 site-blocks-cover pb-4" style="background-image: url('../../Content/images/bg_1.jpg')">
    @* class="site-section ftco-subscribe-1" *@
    <div class="container">
        <div class="row align-items-end">
            <div class="col-lg-7">
                <h2 class="mb-0">@ViewBag.Title</h2>
                <p>Code University | Challenge yourself to change your life for the better |</p>
            </div>
        </div>
    </div>
</div>
<div class="emailConfirmation">
    <h4 class="emailConfirmation">We have received your message:</h4>
    <p>@Model.Message</p>
    <h4 class="emailConfirmation">We will respond as soon as we can to @Model.Email . Thank you for contacting me.</h4>
</div>
